# --------------------------
# Django Framework
# --------------------------
Django==5.1.4
djangorestframework==3.15.2
django-cors-headers==4.6.0

# --------------------------
# WebSockets / Channels / Redis
# --------------------------
asgiref==3.8.1
channels==4.2.0
channels-redis==4.2.1
redis==5.2.1

# --------------------------
# PostgreSQL Driver & Config
# --------------------------
psycopg2-binary==2.9.10

dj-database-url==2.3.0

# --------------------------
# Env
# --------------------------
python-dotenv==1.0.1

# --------------------------
# ASGI/WSGI Server
# --------------------------
gunicorn==23.0.0
# Daphne (si usas WebSockets en producción)
daphne==4.1.2

# --------------------------
# Security / JWT
# --------------------------
PyJWT==2.10.1
cryptography==44.0.0
requests==2.32.3

# --------------------------
# AWS S3
# --------------------------
boto3==1.35.80
django-storages==1.14.4

# --------------------------
# Auth (Allauth + DJ REST Auth)
# --------------------------
dj-rest-auth==7.0.0
# ACTUALIZADO: La 0.58 da error con Django 5.
django-allauth==64.2.0
djangorestframework-simplejwt==5.3.1

# --------------------------
# Extra utilities
# --------------------------
attrs>=23.1.0
jsonschema>=4.17.3
inflection==0.5.1
packaging>=23.2
PyYAML>=6.0.1
referencing>=0.30.0
rpds-py>=0.10.0
sqlparse>=0.5.0
# tzdata a veces no es necesario en Linux, pero mal no hace
tzdata==2024.2
uritemplate==4.1.1

# --------------------------
# Static Files optimizations
# --------------------------
whitenoise==6.8.2