# --------------------------
# Django Framework
# --------------------------
Django==5.2.8
djangorestframework==3.16.1
django-cors-headers==4.9.0

# --------------------------
# WebSockets / Channels / Redis
# --------------------------
asgiref==3.10.0
channels==4.0.0
channels-redis==4.1.0
redis==5.0.8

# --------------------------
# PostgreSQL Driver
# --------------------------
psycopg2-binary==2.9.11

# --------------------------
# Env
# --------------------------
python-dotenv==1.2.1

# --------------------------
# ASGI/WSGI Server
# --------------------------
gunicorn==23.0.0

# Daphne (si usas WebSockets en producción)
daphne==4.1.2

# --------------------------
# Security / JWT
# --------------------------
PyJWT==2.10.1
cryptography==41.0.7
requests==2.32.3

# --------------------------
# AWS S3
# --------------------------
boto3==1.34.0
django-storages==1.14.0

# --------------------------
# Auth (Allauth + DJ REST Auth)
# --------------------------
dj-rest-auth==5.0.1
django-allauth==0.58.0
djangorestframework-simplejwt==5.5.1

# --------------------------
# Extra utilities (usadas por tu otro proyecto)
# --------------------------
attrs==25.4.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
inflection==0.5.1
packaging==25.0
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.29.0
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0

# --------------------------
# Static Files optimizations (opcional)
# --------------------------
whitenoise==6.11.0
